/* Universal Styles */
html {
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: #F6F6F2;
    color: #388087;
    font-family: "Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p, li, div, aside {
    font-size: 1.5rem;
}

a {
    color: #388087;
}

a:visited {
    color: purple;
}

a:hover {
    color:#F6F6F2;
}

/*Navigation Bar*/
nav {
    height: 4rem;
    padding: 0.25rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    background-color: #C2EDCE;
}

#logo {
    float: left;
    align-self: center;
    font-family: "Petit Formal Script", sans-serif;
}

.nav-bar {
    float: right;
    align-self: center;
}

.nav-item {
    display: inline-block;
    padding: 1.5rem;
}

/*Main Section*/
main {
    padding-top: 2.5rem;
}

/*Home*/
.home-container {
    display: flex;
    max-width: 100%;
    height: 55rem;
    justify-content: space-around;
    align-items: center;
    background-color: #388087;
    padding: 2rem;
}

.home-text-container {
    display: flex;
    flex-direction: column;
}

.home-text {
    color:#F6F6F2;
    flex-basis: 50%;
    letter-spacing: 0.25rem;
}

.brief-container {
    display: flex;
    max-height: 20rem;
    align-items: flex-end;
}

.tidbit {
    background-color: #C2EDCE;
    margin: 2rem;
    width: 20rem;
    height: 11rem;
    padding-top: 9rem;
    border-radius: 50%;
    text-align: center;
    align-self: flex-start;
}

#bubble2 {
    align-self: flex-end;
}

.home-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
}

.me {
    min-width: 75%;
    max-width: fit-content;
    border-radius: 50%;
}

/*About Me*/
#AboutMe {
    max-height: 42rem;
}

#AboutMe h2 {
    text-align: center;
}

.AM-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.AM-Text {
    line-height: 2rem;
    text-align: center;
    max-width: 70%;
}

aside {
    font-family: "Petit Formal Script", sans-serif;
    text-align: center;
    font-weight: bolder;
}

.mobile-about-me {
    display: none;
}

/*Projects*/
#Projects {
    text-align: center;
    background-color:#C2EDCE;
    padding: 2rem 0;
}

.project-list {
    display: flex;
    justify-content: space-around;
}

.project {
    padding: 2rem;
    display: inline-block;
}

button {
    background-color:#F6F6F2;
    height: 3rem;
    color:#388087;
    font-weight: bold;
    border: #388087 solid 0.25rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

button:hover {
    background-color:#388087;
    color:#F6F6F2;
    border: #F6F6F2 solid 0.25rem;
}

button:active {
    transform: translateY(4px);
}

/*Contact Me*/
#Contact h2 {
    text-align: center;
}

.contact-info-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5rem;
}
/*Media Queries*/
/*Phone*/
@media only screen and (max-width: 600px) {
    /*Universal*/
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    p, li, div, aside {
        font-size: 1rem;
    }
    
    /*Nav bar*/
    nav{
        display: block;
        max-height: 2.5rem;
    }
    #logo{
        margin: 0;
    }
    .nav-bar {
        visibility: hidden;
    }
    
    /*Main Section*/
    main {
    padding-top: 2.25rem;
    }
    
    /*Home*/
    .home-container{
        flex-direction: column-reverse;
    }
    .brief-container{
        flex-direction: column;
    }
    .tidbit{
        padding: 1rem;
        margin: 1rem;
        width: 15rem;
        max-height: 11rem;
    }
    .me {
        max-width: 15rem;
        border-radius: 50%;
        margin: 0;
}
    /*About Me*/
    .AM-Text {
        display: none;
    }

    .mobile-about-me {
        display: contents;
    }
    /*Projects*/
    .project-list {
        flex-direction: column;
        padding: 0;
    }
}